public/
.idea/
resources/_gen/images/authors/admin/avatar_hu32da6ab780282c375bb51d306c6c1ca4_50818_250x250_fill_q90_lanczos_center.jpg
resources/_gen/assets/js/js/academic-bundle-pre.js_d3f53f09220d597dac26fe7840c31fc9.content
resources/_gen/assets/js/js/academic-bundle-pre.js_d3f53f09220d597dac26fe7840c31fc9.json
resources/_gen/assets/js/js/academic.min.js_187be290e8222f6bb644052568a2fb6d.content
resources/_gen/assets/js/js/academic.min.js_187be290e8222f6bb644052568a2fb6d.json
resources/_gen/assets/scss/sass/main.scss_5605ecb7fa3240a2f23d47aaede4565f.content
resources/_gen/assets/scss/sass/main.scss_5605ecb7fa3240a2f23d47aaede4565f.json
